:root{
    --intro-email-bg:hsl(217, 28%, 15%);
    --main-bg: hsl(218, 28%, 13%);
    --footer-bg: hsl(216, 53%, 9%);
    --testimonials-bg:hsl(219, 30%, 18%);
    --cyan: hsl(176, 68%, 64%);
    --blue:hsl(198, 60%, 50%);
    --light-red: hsl(0, 51%, 49%);
    --primary-color:white;
}
*,
::after,
::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,h3,h2,
.cta{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}
p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
}
a,ul,li{
    text-decoration: none;
}
body{
    background-color: var(--main-bg);
    color: var(--primary-color);
}
.container{
    position: relative;
}
h1,p{
    color: var(--primary-color);
}
.navbar{
    display: flex;
    align-items: center;
    padding: 1.5rem;
    background:var(--intro-email-bg)
}
.logo{
    margin: 0rem 0rem 0rem 5rem;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.menu{
    display: flex;
    gap: 1rem;
    margin: 0rem 0rem 0rem 45rem;
}
.menu li{
    padding: 0.313rem 0.875rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    transition: all ease-in-out .2s;
}
.nav-items a{
    color: var(--primary-color);
    line-height: 40px;
}
.nav-items a:hover{
    color: var(--primary-color);
    font-family: "Raleway",sans-serif;
    font-weight: 700;
    text-decoration: underline;
}
.nav-items{
    border:none;
    position: relative;
}
.nav-items:hover{
    border: none;
}
.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background: var(--intro-email-bg) url(images/bg-curvy-desktop.svg) bottom no-repeat;
    background-position:0% 123%;
    background-size:100% 270px;
    text-align: center;
}
.hero img{
    width: 43%;
}
.hero h1{
    padding: 0 25rem;
}
.hero p{
    padding: 2rem 29rem .9rem 29rem;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.hero button{
    width: 220px;
    padding: 1rem;
    border-radius: 25px;
    border: none;
    background: linear-gradient(to right, var(--cyan), var(--blue));
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}
.hero button:hover{
    background: var(--cyan);
}
/* features*/
.features{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:94px 80px;
    margin: 120px 0;
    padding: 0 250px;
    text-align: center;
}
.feature h3{
    margin: 25px 0 12px 0;
}
.works {
    display: flex;
    flex-wrap: wrap;
    padding:0px 60px;
}
/* Stay Productive */
.productive {
   display: flex;
   justify-content: space-evenly;
   margin-left: 70px;
   margin-bottom: 100px;
}
.productive img {
    width: 40%;
}
.productive-text {
    width: 50%;
    color: white;
}
.productive-text h1{
    padding: 50px 300px 0 0;
}
.productive-text p {
    width: 100%;
    padding-right: 160px;
    margin: 30px 0;
}
.link{
    color: var(--cyan);
    text-decoration: underline;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
}
.link:hover{
    color: var(--primary-color);
}
.link svg{
    width: 3%;
    transform: translate(-20%, 27%);
}
.icon:hover use{
    fill: var(--primary-color);
    text-decoration: none;
    cursor: pointer;
}

/* comments */
.comments {
    /* text-align: center; */
    background-color: #181F2B;
    color: hsl(0, 0%, 100%);
    padding: 2rem 5rem;
}
.comments-container{
    margin: 2rem auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    max-width: 1200px;
    /* background-color: aquamarine; */
}
.quote{
    position: absolute;
    z-index: 1;
    top: -18px;
    left: 10px;
}
.card{
    z-index: 2;
    background-color: hsl(219, 30%, 18%);
    width: 45%;
    max-width: 375px;
    font-size: 14px;
    padding: 1.5rem;
    font-weight: 400;
    margin: 1rem;
    border-radius: 5px;
}
.card .profile-pic{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}
.profile-pic img{
    width: 100%;
}
.profile{
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
}
.profile h2{
    font-size: 11px;
}
.profile .title{
    font-size: 10px;
}
/* Get Access */
.access{
    width: 800px;
    height: 300px;
    margin: 40px 0 0 250px;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 4px 4px 4px 4px rgb(0 0 0 / 20%);
    background-color: var(--intro-email-bg);
    align-items: center;
    transform: translate(0%, 50% );
}
.access-content{
    text-align: center;
    color: white;
}
.access-content h1{
    margin-top: 22px;
}
.access-content p{
    padding: 1rem 2rem;
}
form {
    display: flex;
    justify-content: space-evenly;
}
input[type="email"] {
    width: 60%;
    height: 40px;
    border-radius: 20px;
    border: none;
    padding: 20px;
}
.no-outline:focus {
    outline: none;
}
input[type="submit"] {
    border-radius: 18px;
    width: 25%;
    padding: 5px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    background: linear-gradient(to right, var(--cyan), var(--blue));
    color: #fff;
    border: none;
}
input[type="submit"]:hover{
    background: var(--cyan);
    cursor: pointer;
}
/* footer */
.footer-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: hsl(216, 53%, 9%);
    color: hsl(0, 0%, 100%);
    padding: 200px 50px 0px 100px;
    font-size: 16px;
    z-index: -1;
    position: absolute;
}
.footer-main{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 50px 20px 30px 0;
}
.footer-main img{
    width: 20px;
    height: 20px;
    display: inline-block;
}
.footer-main p{
    margin-left: 20px;
}
.footer-main .contact{
width: 20%;
}
.social-icons li {
width: 40px;
height: 40px;
border-radius: 50%;
border: 1px solid hsl(0, 0%, 100%);
text-align: center;
margin-right: 15px;
}
.social-icons li:hover{
    border: 1px solid hsl(176, 68%, 64%);
}
.social-icon i{
    font-size: 1rem;
}
.social-icons li:hover .social-icon{
    color:hsl(176, 68%, 64%) ;
}
.location-info{
    width: 30%; 
    display: flex;
}
.location-info p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
}
.social-icons{
display: flex;
justify-content: space-between;
}
.contact{
    display: flex;
    margin-bottom: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
}
.contact img{
    width: 70%;
}
.links a{
    color: var(--primary-color);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;

}
.links a:hover{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
.col{
    color: var(--primary-color);
    margin-top: 10px;
}
.col:hover{
    color: var(--cyan);
}
/* end of footer */
@media screen and (max-width: 600px) {
    .hero img, p, h1{
        width: 100%;
    }
    .hero button {
        width: 80%;
    }
    .middle {
        width: 100%;
    }
    .productive {
        padding: 20px;
        flex-direction: column;
    }
    .productive img {
        width: 100%;
    }
    .productive-text {
        width: 100%;
    }
    .productive-text p {
        width: 100%;
        text-align: start;
        margin: 10px 0;
    }
    .access {
        padding: 20px;
    }
    .access-content {
        text-align: center;
        color: white;
    }
    .access-content p {
        text-align: center;
        width: 100%;
        margin: 10px 0;
    }
    form {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    input[type="email"] {
        width: 80%;
        height: 40px;
        border-radius: 20px;
        border: none;
        padding: 20px;
        margin: 10px 0;
    }

    input[type="submit"] {
        border-radius: 18px;
        width: 80%;
        height: 40px;
        padding: 5px;
        background-color: skyblue;
        color: #fff;
        border: none;
    }
}
