*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(218, 28%, 20%);
    font-family: 'Open Sans',
    sans-serif;
}
.background-image{
    position: relative;
    z-index: -1;
}
.background-image img{
    width: 1700px;
    height: 1000px;
    position: absolute;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 1.5rem;
}
.logo{
    margin: 0rem 0rem 0rem 5rem;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.menu{
    display: flex;
    gap: 1rem;
    margin: 0rem 0rem 0rem 45rem;
}
.menu li{
    padding: 0.313rem 0.875rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    transition: all ease-in-out .2s;
}
li a{
    color: hsl(0, 0%, 100%);
    line-height: 40px;
}
li a:hover{
    color: grey;
}
li{
    border:none;
    position: relative;
}
li:hover{
    border: none;
}
li::after{
    content: '';
    position: absolute;
    width: 0px;
    height: 5px;
    left: 50%;
    bottom:0;
    background-color: hsl(0, 0%, 100%);
    transition: all ease-in-out .2s;
}
li:hover::after{
    width: 100%;
    left: 0;
}
.hero{
    text-align: center;
    color: hsl(0, 0%, 100%);
    background: url(images/bg-curvy-desktop.svg) bottom no-repeat;
    background-size: 100% 150px;
    
}
.hero img{
    width: 43%;
}
.hero h1{
    padding: 0 25rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}
.hero p{
    padding: 2rem 29rem .9rem 29rem;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.hero button{
    width: 220px;
    padding: 1rem;
    border-radius: 25px;
    border: none;
    background: linear-gradient(to right top, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}
.middle{
    text-align: center;
    margin-top: 10rem;
}
/* footer */
.footer-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: hsl(216, 53%, 9%);
    color: hsl(0, 0%, 100%);
    padding: 200px 50px 0px 100px;
    font-size: 16px;
}
.footer-main{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 50px 20px 30px 0;
}
.footer-main img{
    width: 20px;
    height: 20px;
    display: inline-block;
}
.footer-main p{
    margin-left: 20px;
    
}
.footer-main .contact{
width: 20%;
}
.social-icons li {
width: 40px;
height: 40px;
border-radius: 50%;
border: 1px solid hsl(0, 0%, 100%);
text-align: center;
margin-right: 15px;
}
.social-icons li:hover {
    border: 1px solid hsl(176, 68%, 64%);
}
.social-icon i{
    font-size: 1rem;
}
.social-icons li:hover .social-icon{
    color:hsl(176, 68%, 64%) ;
}
.location-info{
    width: 30%;
    display: flex;
    justify-content: space-between;
}
.social-icons{
display: flex;
justify-content: space-between;
}
.contact{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
/* end of footer */
